[Unit]
Description=Django (gunicorn)
After=network.target docker.service
Requires=docker.service

[Service]
User=nam
WorkingDirectory=/home/nam/nam-website-deploy
ExecStart=/usr/local/bin/bws run --project-id ffbc63d1-23df-41c4-a2ff-b49300cf115c -- /home/nam/nam-website-deploy/.venv/bin/gunicorn config.wsgi:application --bind 127.0.0.1:8000 --workers 2 --timeout 120
EnvironmentFile=/etc/nam-website/bws-token
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
