[Unit]
Description=Postgres + media backup (encrypted, offsite)

[Service]
Type=oneshot
User=nam
WorkingDirectory=/home/nam/nam-website-deploy
EnvironmentFile=/etc/nam-website/bws-token
ExecStart=/usr/local/bin/bws run --project-id ffbc63d1-23df-41c4-a2ff-b49300cf115c -- /home/nam/nam-website-deploy/infra/backup.sh
